body {
  background-image: url("../img/nokia0.png");
  background-position: cover;
  background-repeat: repeat;
}
h1 {
  text-align: center;
  margin: 20px;
}

.nokiaImg {
  margin: 0 auto;
  width: 500px;
}
.button {
  text-align: center;
  margin: 10px;
}
.playAgain {
  margin-bottom: 20px;
  padding: 3px 5px;
  text-align: center;
}
.grid {
  background-color: rgba(231, 231, 231, 0.8);
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  /*border:1px black solid;
box-sizing:border-box*/
}

.snake {
  background: black;
}

.apple {
  font-weight: bold;
  background-color: rgba(197, 93, 93);
  border: 0.5px solid rgba(197, 93, 93);
  border-radius: 100px;
  background-image: url("../img/apple.svg");
}

.popup {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  display: block;
  justify-content: center;
}
.playAgain:hover {
  background-color: rgba(5, 169, 92, 0.6);
  font-weight: bold;
}
.row {
  --bs-gutter-x: 0;
}
.containerBtn {
  width: 150px;
}
.topBtn {
  text-align: center;
}
.downBtn {
  text-align: center;
}

.leftBtn {
  margin: 3px;
}

.rightBtn {
  margin: 3px;
}
